---
layout: default
title: Programlama
---

&nbsp;
&nbsp;
&nbsp;
<p>
  Merhaba, bu sitede birbirinden farklı teknolojiler hakkında yazılar ve
  eğitimler göreceksin. Zamanın varken bunlardan faydalanmaya bak :)
</p>
<p>
  Her bir buton seni bir dizi eğitimin olduğu sayfaya yönlendirecektir.
  Sorularını ve görüşlerini bana herzaman bildirebilirsin.
</p>
&nbsp;
&nbsp;
&nbsp;

<div>
  {% for item in site.data.subnav %}
	<a class="btn btn-warning btn-lg" href="{{ item.link | relative_url }}" {% if page.url == item.link %}class="current"{% endif %}>
		{{ item.name }}
	</a>
{% endfor %}
</div>

<!-- <div>
  {% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h4>
    </article>
    {% endfor %}
  </div>
  {% endfor %}
</div> -->
